.netrwhist
viminfo
coc-settings.json
# /plugged/ is the directory where plug-ins installed via vim-plug are placed
# we want to ignore the contents of the directory but maintain its existence; the /plugged/.gitignore file exists only to indicate that the directory is not empty
/plugged/*
!/plugged/.gitignore
